@import "tailwindcss";

@theme {
  /*  neutral */
  --color-neutral-900: hsl(243, 96%, 9%);
  --color-neutral-800: hsl(243, 27%, 20%);
  --color-neutral-700: hsl(243, 23%, 24%);
  --color-neutral-600: hsl(243, 23%, 30%);
  --color-neutral-300: hsl(240, 6%, 70%);
  --color-neutral-200: hsl(250, 6%, 84%);
  --color-neutral-0: hsl(0, 0%, 100%);
  /* orange */
  --color-orange-500: hsl(28, 100%, 52%);
  /* blue */
  --color-blue-500: hsl(233, 67%, 56%);
  --color-blue-700: hsl(248, 70%, 36%);
}

:root {
  --background: var(--color-neutral-900);
  --foreground: var(--color-neutral-0);
  --font-sans: var(--font-dm-sans);
  --font-display: var(--font-bricolage-grotesque);
}

@layer base {
  body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-sans);
    @apply flex justify-center;
  }

  h1,
  h2 {
    font-family: var(--font-display);
  }
}

@layer components {
  /* Button Primary */
  .btn-primary {
    @apply rounded-xl bg-blue-500 text-neutral-0 font-semibold;
    @apply  hover:bg-blue-700 hover:cursor-pointer;
    @apply px-4 py-2 w-full md:w-auto;
    @apply transition-all;
    @apply hover:shadow-md;
    @apply active:translate-y-0;
  }

  .card {
    @apply rounded-xl bg-neutral-800 p-4 border-2 border-neutral-700;

  }

  article{
    @apply flex flex-col gap-4;
  }

  /* ––––––– DROPDOWN ––––––– */  
  .dropdown {
    @apply rounded-md bg-neutral-700 py-2 px-3 flex justify-between relative text-sm items-center;
    @apply hover:cursor-pointer;
  }

  .dropdown__options-container {
    @apply absolute bg-neutral-700 rounded-md p-2 mt-2 w-48 shadow-lg;
    @apply flex flex-col gap-2;
    @apply border-neutral-600 border;
    @apply top-full right-0;
  }

  .btn-dropdown-item {
    @apply hover:cursor-pointer w-full flex justify-start px-2 py-1;
  }

  .active_btn{
    @apply bg-neutral-600 rounded;
  }

  /* ––––––– PAGES ––––––– */
  .container {
    @apply flex flex-col items-center max-w-3xl;
  }

  main {
    @apply flex min-h-screen w-full flex-col items-center p-4 gap-4;
  }


  /* ––––––– SEARCH ––––––– */
  /* Search Container */
  .search-container{
    @apply flex flex-col sm:flex-row gap-4 mt-8 w-full max-w-md;
  }
  
  form {
    @apply flex flex-col sm:flex-row gap-4 w-full max-w-md;
  }

  
  /* Search Input Wrapper */
  .search-input-wrapper {
    @apply bg-neutral-700 flex gap-2 px-4 py-2 rounded-xl items-center w-full;
  }

  /* Search Input */
  .search-input {
    @apply w-full outline-none bg-transparent text-neutral-0 placeholder:text-neutral-300;
    @apply hover:cursor-pointer;
  }

  /* ––––––– HEADER ––––––– */
  header {
    @apply flex items-center justify-between p-4 w-full;
  }

  .units-dropdown {
    @apply flex bg-neutral-700 rounded-md py-2 px-4 relative;
    @apply hover:cursor-pointer;
  }

  .units-dropdown-label {
    @apply flex items-center gap-2;
  }

  .dropdown-header {
    @apply absolute right-0 top-full mt-2 w-48 bg-neutral-700 rounded shadow-lg p-4 z-10 text-neutral-300;
  }

  /* ––––––– HOURLY ––––––– */
  .hourly {
    @apply flex flex-col gap-2 w-full py-4 px-0 mt-3 lg:mt-auto border-0;
  }

  .hourly_header {
    @apply flex justify-between items-center gap-4 px-4;
  }

  .hourly__list{
    @apply   max-h-100 overflow-y-auto px-4 flex flex-col gap-2;
  }

  .hourly__item {
    @apply rounded-md bg-neutral-700 border border-neutral-600 p-2 flex w-full items-center justify-between px-4;
  }
  .hourly__time{
    @apply flex items-center;
  }



  /* ––––––– CURRENT WEATHER ––––––– */
  .location {
    @apply rounded-2xl bg-cover bg-center bg-no-repeat border-0;
    @apply h-60 md:h-full bg-[url(/images/bg-today-small.svg)] md:bg-[url(/images/bg-today-large.svg)];
    @apply flex flex-col md:flex-row md:justify-between items-center justify-center gap-3;
  }
  .location__header{
    @apply flex flex-col items-center md:items-baseline;
  }
  .location__name{
    @apply text-xl;
  }
  .location__condition{
    @apply flex items-center;
  }
  .location__temperature{
    @apply text-5xl;
  }

  .details__item {
    @apply flex flex-wrap gap-4 justify-center;
  }

  /* ––––––– DAILY ––––––– */
  .daily{
    @apply flex flex-col gap-1;
  }
  .daily__item{
    @apply flex flex-row flex-wrap gap-3;
  }

  .daily__forcast{
    @apply flex flex-col items-center w-22;
  }

  .daily__forcast-temp {
    @apply flex gap-2 justify-between;
    
  }
}


/* TODO: add focus state*/